@model IEnumerable<App_web.Career>

@{
    ViewData["Title"] = "Inicio - Carreras";
}

<h1>Inicio carreras</h1>

<p>
    <a asp-action="Create">Crear nueva carrera</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    App_web.ViewModel.Paginator pag = ViewBag.paginator;
    }
<partial name="_Paginator" for="@pag" />